<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2 class="card-title-md main-title">Présidents</h2>

  <flash-card *ngFor="let card of flashCards; index as i">
    <!--<div class="flash-card-front">{{card.front}}-->
    <!--{{i+1}}-->
    <!--</div>-->
    <ion-card class="flash-card-front">
      <ion-card-header>
        <!--<ion-card-subtitle>Card Subtitle</ion-card-subtitle>-->
        <ion-card-title>Who is the president of {{card.front}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{card.front_info}}
      </ion-card-content>
    </ion-card>
    <!--<div class="flash-card-back">{{card.back}}</div>-->
    <ion-card class="flash-card-back">
      <ion-card-header>
        <!--<ion-card-subtitle>Card Subtitle</ion-card-subtitle>-->
        <ion-card-title>{{card.back}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{card.back_info}}
      </ion-card-content>
    </ion-card>
  </flash-card>

</ion-content>
