<!--wrapper-->
<!--flip on click (add class "flipped"-->
<div class="flip-container" (click)="flip()" [class.flipped]="flipped">

  <div class="flipper">

    <div class="front">
      <!--ng-content is a component of Angular, it replaces the html node (by class)-->
      <ng-content select=".flash-card-front"></ng-content>
    </div>

    <div class="back">
      <ng-content select=".flash-card-back"></ng-content>
    </div>

  </div>

</div>
